<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Game</title>
</head>
<body>
    <div class="game">
        <div>
            <input class="input is-centered field has-addons has-addons-centered" id="search" type="text" placeholder="Enter Player Name"> 
        </div>
        <div id="match" class="block is-centered">
        </div>
        <div class="tableDiv">
            <!-- <li v-for="player in players">
                <p>{{player.name}}</p><br>
            </li> -->
            <table class= "table table is-bordered" id="gameTable">
                <tr id="tableHeader">
                    <th>Name</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Division</th>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Number</th>
                </tr>
                <tr v-for="player in players" id="playerRow">
                    <td :class="getColor(player.name)">{{player.name}}</td>
                    <td>{{player.team}}</td>
                    <td>{{player.pos}}</td>
                    <td>{{player.div}}</td>
                    <td>{{player.age}}</td>
                    <td>{{player.height}}</td>
                    <td>{{player.number}}</td>
                </tr>
                    
            </table>
        </div>
    </div>
    <script src="game.js"></script>
</body>
</html>