.input{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
#match{
    margin-top: 20px;
    padding-left: 15px;
    text-align: center;
    max-height: 200px;
    display: block;
    overflow-y: scroll;
}
.button{
    display: block;
    margin: 0 auto;
    width:200px;
}
.tableDiv{
    display: flex;
    justify-content: center;
}
#gameTable{
    border: 2px solid black;
    text-align: center;
}
#tableHeader{
    height: 20px;
}
#playerName{
    width: 150px;
}

#arrowClass{
    width: 100px;
    font-weight: bold;
}
.triangle_down{
    position: relative;
    top: -5px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
  }
.triangle_up{
    position: relative;
    top: 5px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    transform: rotate(-45deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
}   