.input{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
#match{
    margin-top: 20px;
    padding-left: 15px;
    text-align: center;
    max-height: 200px;
    display: block;
    overflow-y: scroll;;
}
.button{
    display: block;
    margin: 0 auto;
    width:200px;
}
.tableDiv{
    display: flex;
    justify-content: center;
}
.gameTable{
    width: 500px;
    height: 600px;
}
